<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let config of configurations">
      <button ion-item (click)="openConfig($event, config)">
        <h1>{{config.title}}</h1>
        <ion-icon *ngIf="config.active" name="checkbox" item-right></ion-icon>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteConfiguration($event,config)">
          <ion-icon name="trash" small></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <a ion-item (click)="addConfiguration($event)">
      <ion-icon name="add" item-left></ion-icon>
      <h2>Add configuration</h2>
    </a>
  </ion-list>
</ion-content>
