<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedConfig">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Content</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="selectedContent">
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="selectedContent.type" interface='action-sheet'>
        <ion-option value="image">Image</ion-option>
        <ion-option value="video">Video</ion-option>
        <ion-option value="web">Web</ion-option>
        <ion-option value="youtube">Youtube</ion-option>
        <ion-option value="twitter">Twitter</ion-option>
        <ion-option value="instagram">Instagram</ion-option>
        <ion-option value="countdown">Countdown</ion-option>
        <ion-option value="weather">Weather</ion-option>
        <ion-option value="clock">Clock</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='image' || selectedContent.type=='video' || selectedContent.type=='web' || selectedContent.type=='youtube' || selectedContent.type=='twitter'">
      <ion-label *ngIf="selectedContent.type=='image'">File</ion-label>
      <ion-label *ngIf="selectedContent.type=='video'">File</ion-label>
      <ion-label *ngIf="selectedContent.type=='web'">URL</ion-label>
      <ion-label *ngIf="selectedContent.type=='youtube'">Video/Playlist ID</ion-label>
      <ion-label *ngIf="selectedContent.type=='twitter'">Tracks/Hashtags</ion-label>
      <ion-input type="text" [(ngModel)]="selectedContent.load"></ion-input>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='instagram'">
      <ion-label>Content load</ion-label>
      <ion-select [(ngModel)]="selectedContent.load" interface='action-sheet'>
        <ion-option value="feed">User feed</ion-option>
        <ion-option value="liked">Liked content</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='countdown'">
      <ion-label>Target date</ion-label>
      <ion-datetime pickerFormat="MMM DD YYYY HH:mm" [(ngModel)]="date" (ionChange)="parseDate($event)"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='countdown'">
      <ion-label>Top text</ion-label>
      <ion-input type="text" [(ngModel)]="selectedContent.top"></ion-input>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='countdown'">
      <ion-label>Bottom text</ion-label>
      <ion-input type="text" [(ngModel)]="selectedContent.bottom"></ion-input>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='web'">
      <ion-label>Reload</ion-label>
      <ion-toggle [(ngModel)]="selectedContent.reload"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='youtube'">
      <ion-label>Playlist</ion-label>
      <ion-toggle [(ngModel)]="selectedContent.reload"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="selectedContent.type=='instagram'">
      <ion-label>Photo quantity</ion-label>
      <ion-input type="number" [(ngModel)]="selectedContent.qty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Loop</ion-label>
      <ion-select [(ngModel)]="selectedContent.loop" interface='action-sheet'>
        <ion-option value="none">None</ion-option>
        <ion-option value="time">By time</ion-option>
        <ion-option *ngIf="selectedContent.type=='video'" value="repetitions">By repetitions</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedContent.loop=='time'">
      <ion-label>Time (sec)</ion-label>
      <ion-input type="number" [(ngModel)]="selectedContent.time"></ion-input>
    </ion-item>
    <ion-item *ngIf="selectedContent.loop=='repetitions'">
      <ion-label>Repetitions</ion-label>
      <ion-input type="number" [(ngModel)]="selectedContent.repetitions"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button block color="dark" (click)="dismiss()">Done</button>
    </ion-item>
  </ion-list>
</ion-content>