<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedConfig">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configuration Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="selectedConfig">
    <ion-item>
      <ion-label>Active</ion-label>
      <ion-toggle [(ngModel)]="selectedConfig.active" (ngModelChange)="setActive($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="selectedConfig.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fullscreen</ion-label>
      <ion-toggle [(ngModel)]="selectedConfig.fullscreen"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!selectedConfig.fullscreen">
      <ion-label>Width</ion-label>
      <ion-input type="number" [(ngModel)]="selectedConfig.width"></ion-input>
    </ion-item>
    <ion-item *ngIf="!selectedConfig.fullscreen">
      <ion-label>Height</ion-label>
      <ion-input type="number" [(ngModel)]="selectedConfig.height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Background Color</ion-label>
      <button ion-button item-right (click)="chooseColor($event,selectedConfig.background)" [style.background-color]="getColor(selectedConfig.background)">&emsp;</button>
      <!-- <button ion-button icon-only item-right (click)="chooseColor(selectedConfig.background)">
        <ion-icon name="more"></ion-icon> 
      </button>-->
    </ion-item>
  </ion-list>
  <ion-item-divider color="dark">
    <p>TVs ({{selectedConfig.rows}}x{{selectedConfig.cols}})</p>
  </ion-item-divider>
  <ion-grid class="videowall-grid">
    <ion-row *ngFor="let groupZone of selectedConfig.zones; let y=index">
      <ion-col align='center' *ngFor="let zone of groupZone; let x=index">
        <a (click)="changeZonePlayer(x,y)">{{ zone }}</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider color="dark">Playlists</ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let player of selectedConfig.players">
      <ion-item-sliding>
        <ion-item class="playlist-title">
          <h2>Playlist <b>{{player.id}}</b></h2>
          <p>TVs: {{getPlayerZones(player.id)}}</p>
          <button ion-button item-right (click)="chooseColor($event,player.background)" [style.background-color]="getColor(player.background)">&emsp;</button>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deletePlayer($event,player)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-list>
        <ion-item-sliding *ngFor="let content of player.contents">
          <button ion-item (click)="openContent($event,content)">
            <ion-icon *ngIf="content.type=='image'" name="image" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='video'" name="play" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='web'" name="globe" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='youtube'" name="videocam" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='twitter'" name="twitter" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='instagram'" name="instagram" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='countdown'" name="clock" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='weather'" name="weather" item-left></ion-icon>
            <ion-icon *ngIf="content.type=='clock'" name="clock" item-left></ion-icon>
            <h2 *ngIf="content.type=='image'">Image</h2>
            <h2 *ngIf="content.type=='video'">Video</h2>
            <h2 *ngIf="content.type=='web'">Web</h2>
            <h2 *ngIf="content.type=='youtube'">Youtube</h2>
            <h2 *ngIf="content.type=='twitter'">Twitter</h2>
            <h2 *ngIf="content.type=='instagram'">Instagram</h2>
            <h2 *ngIf="content.type=='countdown'">Countdown</h2>
            <h2 *ngIf="content.type=='weather'">Weather</h2>
            <h2 *ngIf="content.type=='clock'">clock</h2>
            <p *ngIf="content.loop=='none'">No loop</p>
            <p *ngIf="content.loop=='time'">{{content.time}} seconds</p>
            <p *ngIf="content.loop=='repetitions'">{{content.repetitions}} repetitions</p>
          </button>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteContent($event,player,content)">
              <ion-icon name="trash" small></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <a ion-item (click)="addContent($event,player)">
          <ion-icon name="add" item-left></ion-icon>
          <h2>Add content</h2>
        </a>
      </ion-list>
    </ion-item>
    <a ion-item *ngIf="selectedConfig.players.length<(selectedConfig.rows*selectedConfig.cols)" (click)="addPlayer($event,selectedConfig)">
      <ion-icon name="add" item-left></ion-icon>
      <h2>Add playlist</h2>
    </a>
    <ion-item></ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="selectedConfig.active">
    <button ion-button block color="dark" (click)="sendConfiguration()">Update</button>
  </ion-toolbar>
</ion-footer>